@import './App.scss';

@media screen and (min-width: $medium) {
    body {
        overflow: hidden;
        max-width: 100vw;
    }
}
#About {
    display: flex;
    align-items: center;
    width: 90vw;

    @media screen and (max-width: $small) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5vh;
        overflow-x: hidden;
        max-height: 110vh;
        max-width: 100vw;
    }
    
    @media screen and (min-width: $medium) {
        flex-direction: row;
    } 

    img#me {
        height: 75vh;
        width: auto;

        @media screen and (min-width: $medium) {
            margin-left: 3.5vw;
        }
    }

    .about-container {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        width: 36vw;
        height: 64vh;

        @media screen and (max-width: $small) {
            width: 80vw;
        }
        
        @media screen and (min-width: $medium) {
            width: 36vw;
        } 

        h1 {
            font-family: $primary-font-stack;
            font-size: 2.75vw;
            margin-bottom: 0;

            @media screen and (max-width: $small) {
                margin-top: 0;
                font-size: 6.5vw;
            }
        }

        h3 {
            font-family: $primary-font-stack;
            font-size: 1.5vw;
            margin-top: 0.5vh;

            @media screen and (max-width: $small) {
                font-size: 3.25vw;
                margin-top: 1vh;
                line-height: 2.75vh;
            }
        }

        img#my-name {
            margin-left: 0.25vw;
            margin-bottom: -1.25vh;
            width: 40%;
        }

        p {
            font-size: 1.15vw;
            line-height: 3vh;
            color: $secondary-font-color;
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 1.5vw;

            @media screen and (max-width: $small) {
                font-size: 3vw;
                line-height: 1.75vh;
            }
        }

        img#front-end {
            width: 47.5%;
            margin-bottom: -1vh;

            @media screen and (max-width: $small) {
                margin-bottom: -0.75vh;
            }
        }

        img#seattle {
            width: 30%;
            margin-bottom: -0.75vh;

            @media screen and (max-width: $small) {
                margin-bottom: -0.5vh;
            }
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 2vh;
        width: 34vw;

        @media screen and (max-width: $small) {
            width: 80vw;
        }

        div {
            width: 8vw;

            @media screen and (max-width: $small) {
                width: 15vw;
            }
        }

        a {
            width: 8vw;
            height: 8vw;

            @media screen and (max-width: $small) {
                width: 15vw;
                height: 15vw;
            }
        }

        button {
            width: 8vw;
            height: 8vw !important;
            height: auto;
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;
            &:focus { outline:0 !important; }

            @media screen and (max-width: $small) {
                width: 15vw;
                height: 15vw !important;
            }
        }

        img {
            width: 100%;
        }
    }
}