@import './App.scss';

#Loading-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9ffed;
    background-image: url('../backgrounds/loading-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.5s;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

#Habi-hero-loaded {
    display: none;
    flex-direction: column;
    align-items: left;
    // justify-content: center;
    margin-left: 3vw;
    width: 70vw;
    max-height: 495vh;

    h1 {
        font-size: 2.5vw;
        margin-bottom: 0;
        font-family: $primary-font-stack;
        color: $primary-font-color;

        @media screen and (max-width: $small) {
            font-size: 8vw;
        }
    }

    h3 {
        font-size: 1.65vw;
        margin-top: 0;
        margin-bottom: 0;
        font-family: $primary-font-stack;
        color: $primary-font-color;

        @media screen and (max-width: $small) {
            font-size: 6vw;
        }
    }

    h4 {
        font-size: 1.25vw;
        margin-top: 1vh;
        margin-bottom: 0;
        font-family: $primary-font-stack;
        color: $primary-font-color;

        @media screen and (max-width: $small) {
            font-size: 6vw;
        }
    }

    p {
        color: $primary-font-color;
        font-size: 0.9vw;
        margin-top: 0.5vh;
        line-height: 1.5;
    }

    p.about-main {
        margin-top: 1vh;
        font-size: 1.25vw;
        line-height: 1.25;

        span img {
            margin-left: -0.2vw;
            margin-bottom: -0.4vh;
            width: 22.5%;
        }
    }

    div.about-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vh;
        width: 70vw;
        height: 45vh;

        div.description-container {
            display: flex;
            flex-direction: column;
            width: 55%;
            height: 100%;
        }

        div.tools-container {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 100%;
            
            div.logo-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 1.75vh;
                height: 20%;

                img {
                    height: 75%;
                    width: auto;
                }
            }

            p {
                margin-top: 1.5vh;
            }
        }
    }

    div.movie-container {
        align-self: center;
        margin-top: 5vh;
        margin-bottom: 3vh;
        width: 52vw;
        height: 50vh;
        box-shadow: 2px 2px 10px #888888;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    div.research-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 1.5vh;
        width: 70vw;
    }

    div#habihero-paper {
        margin-top: 3vh;
        margin-bottom: 3vh;
        align-self: center;
        width: 70%;
        height: 68vh;
        box-shadow: 2px 2px 10px #888888;

        iframe {
            width: 100%;
            height: 100%;
            align-self: center;
        }
    }

    div.design-container {
        display: flex;
        flex-direction: column;
        margin-top: 3vh;
        width: 70vw;

        div.wireframe-container { 
            display: flex;
            flex-direction: row;
            margin-top: 1.5vh;
            margin-left: -1vw;

            img.wireframe {
                width: 35vw;
                height: auto;
                margin-right: 2vw;
            }

            div.wireframe-description {
                display: flex;
                flex-direction: column;
            }
        }

        div.low-fidelity-container { 
            display: flex;
            flex-direction: row;
            margin-bottom: 2.5vh;

            img.low-fidelity {
                width: 33vw;
                height: auto;
                box-shadow: 2px 2px 8px #88837575;
                margin-top: 1.5vh;
                margin-right: 3vw;
            }

            div.low-fidelity-description {
                display: flex;
                flex-direction: column;
            }
        }

        div.visual-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70vw;

            figcaption {
                margin-top: 1vh;
                font-size: 0.75vw;
            }

            div.visual-columns {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 60%;

                figure {
                    margin-left: 0;
                }

                figure#habihero-colors {
                    width: 100%;
                    margin-bottom: 0;

                    img {
                        width: 100%;
                        height: auto;
                        box-shadow: 2px 2px 8px #88837575;
                    }
                }

                div.visual-rows {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    height: 15vh;

                    figure#habihero-logo {
                        width: 67.5%;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    
                    figure#habihero-icon {
                        width: 30%;
                        margin-right:0;

                        img {
                            width: 50%;
                            height: auto;
                        }
                    }
                }
            }

            figure {
                width: 30%;
                img#characters {
                    width: 92.5%;
                    height: auto;
                }
            }
        }

        div.carousel {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            width: 60vw;
            height: 60vh;
            margin-top: 3vh;
            margin-bottom: 8vh;

            div.slick-slider {
                width: 100%;

                button {
                    background-image: url(../backgrounds/green-arrow.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                    height: 7.5vh;
                    width: 7.5vw;
                    z-index: 2;
                    border: none;
                }

                button.slick-next {
                    margin-right: -6vw;
                }

                button.slick-prev {
                    margin-left: -6vw;
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }

                button::before {
                    content: none;
                }

                div.slick-list {
                    width: 60vw;
                    height: 100%;
                    box-shadow: 2px 2px 10px #888375d3;

                    img {
                        width: 60vw;
                        height: 60vh;
                    }
                }
            }
        }
    }

    div.links-container {
        margin-bottom: 3vh; 
        
        ul {
            padding-left: 1.25vw;
        }

        li {
            font-size: 2vh;
            font-weight: bold;
            font-family: $primary-font-stack;
            line-height: 1.5;
            color: #99C355;

            a, a:visited {
                font-size: 1.75vh;
                font-weight: normal;
                font-family: $secondary-font-stack;
                color: $primary-font-color;
                text-decoration: none;
            }

            a:hover {
                font-weight: normal;
                color: #99C355;
                text-decoration: none;
            }
        }
    }

    div.next-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 7vh;
        right: 1.5vw;
        width: 8%;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img#next-arrow {
            width: 100%;
            height: auto;
            margin-top: 1vh;
        }

        img#smile-logo {
            width: 50%;
            height: auto;
        }
    }
}