@import './App.scss';

#Home {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $small) {
        flex-direction: column;
        margin-bottom: 5vh;
    }
    
    @media screen and (min-width: $medium) {
        flex-direction: row;
        width: 90vw;
    } 

    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;

        @media screen and (max-width: $small) {
            width: 90%;
        }

        div.polaroid-container {
            width: 100%;
            
            img {
                width: 100%;
            }
        }

        div.description-container {
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            justify-content: space-between;
            width: 82%;

            @media screen and (max-width: $small) {
                width: 78%;
            }

            a {
                width: 20%;
                height: 20%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            img {
                width: 20%;
                height: 20%;
            }

            div.description {
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 2.5vw;
                    margin-top: -2vh;
                    margin-bottom: 0;
                    font-family: $primary-font-stack;
                    color: $primary-font-color;

                    @media screen and (max-width: $small) {
                        font-size: 8vw;
                    }
                }

                p {
                    margin-top: 1vh;
                    font-size: 1vw;
                    color: $secondary-font-color;

                    @media screen and (max-width: $small) {
                        font-size: 3vw;
                    }
                }
            }
        }
    }
}