@import './App.scss';

#Loading-3 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd2f9;
    background-image: url('../backgrounds/loading-3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.5s;
    width: 100vw;
    height: 100vh;
    z-index: 3;

    img {
        width: 70%;
        height: auto;
    }
}

#Splash-loaded {
    display: flex;
    flex-direction: column;
    align-items: left;
    // justify-content: center;
    margin-left: 3vw;
    width: 70vw;
    max-height: 495vh;

    h1 {
        font-size: 2.5vw;
        margin-bottom: 0;
        font-family: $primary-font-stack;
        color: $primary-font-color;

        @media screen and (max-width: $small) {
            font-size: 8vw;
        }
    }

    h3 {
        font-size: 1.65vw;
        margin-top: 0;
        margin-bottom: 0;
        font-family: $primary-font-stack;
        color: $primary-font-color;

        @media screen and (max-width: $small) {
            font-size: 6vw;
        }
    }

    h4 {
        font-size: 1.25vw;
        margin-top: 1vh;
        margin-bottom: 0;
        font-family: $primary-font-stack;
        color: $primary-font-color;

        @media screen and (max-width: $small) {
            font-size: 6vw;
        }
    }

    p {
        color: $primary-font-color;
        font-size: 0.9vw;
        margin-top: 0.5vh;
        line-height: 1.5;
    }

    div.slick-slider {
        align-self: center;
        width: 70%;
        margin-top: 3vh;
        margin-bottom: 3vh;
        box-shadow: 2px 2px 10px #888888;

        div.slick-list {
            margin-bottom: -0.25vh;
        }
    }

    div.intro-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70vw;
        height: 21vh;
        margin-top: 1vh;

        div.about-container {
            display: flex;
            flex-direction: column;
            width: 57.5%;

            p.about-main {
                margin-top: 1vh;
                font-size: 1.25vw;
                line-height: 1.25;
            }
        }

        div.tools-container {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            
            div.logo-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-top: 1.75vh;
                height: 28%;

                img {
                    margin-right: 1vw;
                    height: 100%;
                    width: auto;
                }
            }

            p {
                margin-top: 1.5vh;
            }
        }
    }

    div.research-container {
        margin-top: 1.25vh;
        margin-bottom: 1vh;

        hr {
            width: 100%;
            background-color: $secondary-font-color;
        }

        ol {
            padding-left: 1.5vw;
            margin-top: 0.5vh;
        }

        li {
            padding-left: 0.5vw;
            margin-bottom: 0.75vh;
            font-size: 1vh;
        }
    }

    div.design-container {
        p.design-description {
            margin-top: 1.5vh;
        }

        div.design-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            div.challenge-container, div.solution-container {
                width: 45%;
    
                ul {
                    margin-top: 1vh;
                    padding-left: 1vw;
                }
    
                p {
                    line-height: 0.5;
                }
            }
        }

        div.high-fidelity-container {
            display: flex;
            width: 70vw;
            justify-content: center;
            align-items: center;
            margin-top: 1.5vh;
    
            figure {
                width: 35%;
                display: flex;
                flex-direction: column;
                margin-right: 0;
    
                img.high-link {
                    width: 100%;
                    height: auto;
                }
    
                figcaption {
                    margin-left: 4vw;
                    margin-top: 1.25vh;
                    font-size: 0.75vw;
                }
            }
        }
    
        div.screen-container {
            align-self: center;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            width: 75%;
    
            img {
                margin-right: 2vw;
                margin-bottom: 2vw;
                width: 20%;
                height: auto;
                box-shadow: 2px 2px 6px #8888887a;
            }
        }
    }

    div.links-container {
        margin-top: 2vh;
        margin-bottom: 5vh; 

        ul {
            padding-left: 1.25vw;
        }

        li {
            font-size: 2vh;
            font-weight: bold;
            font-family: $primary-font-stack;
            line-height: 1.5;
            color: #99C355;

            a, a:visited {
                font-size: 1.75vh;
                font-weight: normal;
                font-family: $secondary-font-stack;
                color: $primary-font-color;
                text-decoration: none;
            }

            a:hover {
                font-weight: normal;
                color: #99C355;
                text-decoration: none;
            }
        }
    }

    div.next-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 7vh;
        right: 1.5vw;
        width: 8%;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img#next-arrow {
            width: 100%;
            height: auto;
            margin-top: 1vh;
        }

        img#smile-logo {
            width: 50%;
            height: auto;
        }
    }
}